

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
  }

  body{
    font-family: "Outfit", sans-serif;
    width: 100%;
    height: 100vh;
    color: white;
    
    background: linear-gradient(
      to right,
      #111111 0%,
      #111111 50%,
      #111111 50%,
      #111111 100%
    );
    overflow-x: hidden;
  }


    .indexcontainer{
        margin: 40px;
    }

    .contrastcard{
        background-color: #111111;
        color: white;
        padding: 16px;
        border-radius: 8px;
        display: block;
        margin-right: 24px;
    }

    .moviecard{
        display: flex;
        padding: 40px;
        margin-bottom: 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        border-radius: 8px;
        background: #111;
        color: white;
        transition: .2s;
    }

    .mobilebio{
        padding: 16px;
        margin-bottom: 24px;
       
        border-radius: 8px;
        background: #111;
        color: white;
        transition: .2s;
        display: none;
        justify-content: center;
    }

    .moviebio p{
        color: white;
    }


    .moviecard:hover{
        background-color: #343434;

    }

    .movielink a{
        text-decoration: none;
        transition: transform .25s; /* Animation */
    }

   .movielink:hover{
         transform: scale(1.01);
    }

    


    .cardcol{
        width: 50%;
        display: inline-flex;
    }

    .collage{
        display: flex;
    max-width: 1288px;
   max-height: 485px;
    align-items: flex-start;
    gap: 24px
    }

    .poster{
        max-height: 486px;
        max-width: 815px;
        flex: 1 0 0;
    }

    .moviealign{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .collagecol{
        display: flex;
    height: 451px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    }

    .collagecol img{
        width: 448px;
        height: 231px;
        flex-shrink: 0;
    }

    .moviedescription{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
    }

    .title{
        display: flex;
        align-items: flex-start;
        gap: 40px;
    }

    footer{
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 24px;
        color: white;
    }

    .aboutimage img{
        border-radius: 4px;
        max-width: 40%;
      float: left;
      margin: 40px;
      display: flex;
      
   
    }

    .aboutpage {
        width: 50%;
        padding: 24px;
        margin-bottom: 40px;
        flex-direction: column;
        float: right;
        gap: 40px;
        border-radius: 8px;
        background: #111;
        color: white;
    }

.cardimg img{
    width: 750px;
    height: 730px;
    flex-shrink: 0;
    }

    .movielist{
        margin-top: 40px;
        padding-top: 0px
    }

    .flexcontainer{
        display: flex;

    }


    /* Nav */

    #menuToggle
{
  display: block;
  position: relative;
  top: 24px;
  left: 24px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: black;
  
  transition: color 0.3s ease;
}

#active li{
    color:tomato;
}

#menuToggle a:hover
{
  color: #7D7D7D;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #FFFFFF;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: black;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: white;
  border-radius: 8px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(40%, -100%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


.mobilelist{
   gap:40px;
   display:none; 
}

.mobilecard{
    display: block;
    padding: 16px;
    margin-bottom: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: #111;
    color: white;
    transition: .2s;
    background-color: #343434;

}

.mobilecard p{
    margin-top: 12px;
    margin-bottom: 12px;
}

.mobilecard h2{
    margin-bottom: 16px;
}



  


/*    MOBILE */
@media screen and (max-width: 700px) {
     
    .body{
        overflow-x: hidden;

    }
   

    .flexcontainer{
        display: flex;
    }
      
    .collage{
        display: block;
    }

    #menu
{
  position: absolute;
 
  margin:-90px 0 0 -50px;
  padding: 50px;
  padding-top: 90px;
  
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(40%, -100%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}





#mobilehide{
    display: none;
}

.poster{
    width: 270px;
}

.mobilebio{
    display: block;
}

.title{
    gap: 16px
}

.collagecol{
    display: block;
    width: 310px;
}

.collagecol img{
    width: 100%;
}

.movielist{
    display: none;
}
   
footer{
    font-size: 16px;
}

.mobilelist{
    display:block
}

h2{
    font-size: 16px;
}
#menuToggle span
{ width: 28px;
    height: 3px;
}

.aboutpage{
    width: 100%;
    padding: 0;
}

.aboutimage img{
    max-width: 75%;
    text-align:center;
 display:block;
    padding-bottom: 0px;
    padding-top: 24px;
}


}


